<!DOCTYPE html>
<html>
<head>
  <title>ProductAnalytics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "/assets/style.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="head"><div>Welcome to Product Analytics Page</div></div>
	<%= yield %>
</body>
</html>
